/* styles.css */
h1 {
  font-family: "Amarante", system-ui;
  color: DarkRed;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-family: "Amarante", system-ui;
  font-weight: 400;
  font-style: normal;
}
p {
  font-family: "Instrument Serif", serif;
  font-weight: 500;
  font-style: normal;;
}
